<md-content layout="column" flex>
    <md-card>
        <app-toolbar
                title="{{'menu.app.etiquetasList' | translate}}"
                selected="table.selected"
                query="table.query"
                on-edit="onEdit($event,target)"
                on-delete="showConfirm($event,target)"
                hide-delete-button="!isAllowed('delete')"
                hide-edit-button="!isAllowed('update')"
        >
        </app-toolbar>
        <md-table-container>
            <table md-table md-row-select ng-model="table.selected" md-progress="promise">
                <thead md-head md-order="table.query.order">
                <tr md-row>
                    <th md-column md-order-by="name">{{'label.name' | translate}}</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="entity"
                        md-select-id="{{entity.name}}" md-auto-select
                        ng-repeat="entity in table.data.list">
                    <td md-cell>{{entity.name}}</td>

                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="table.query.limit"
                             md-page="table.query.page"
                             md-total="{{table.data.count}}"
                             md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}">
        </md-table-pagination>
    </md-card>

</md-content>
<md-button class="md-fab md-fab-bottom-right main-fab" ng-show="isAllowed('create')"
           ng-click="showForm($event)">
    <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    <md-tooltip md-direction="top">{{'action.new' | translate}}</md-tooltip>
</md-button>