<md-dialog flex="30" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'view.passwordRecovery.title' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon icon="close" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding >
        <form name="form" ng-submit="submit()">
            <md-input-container class="md-block" flex-gt-sm>
                <label>{{'label.email' | translate}}</label>
                <input
                        name="email"
                        ng-model="email"
                        type="email"
                        required>
                <div ng-messages="form.email.$error">
                    <div ng-messages-include="template/default.messages.html"></div>
                </div>
            </md-input-container>

        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <span flex></span>
        <md-button ng-click="cancel()">{{'action.cancel' | translate}}</md-button>
        <md-button md-no-ink class="md-primary" ng-disabled="form.$invalid" ng-click="recover()">{{'action.ok' | translate}}</md-button>

    </md-dialog-actions>
</md-dialog>