<div ng-message="required">{{'error.field.default.required' | translate}}</div>
<div ng-message="email">{{'error.field.default.email' | translate}}</div>
<div ng-message="minlength">{{'error.field.default.minlength' | translate}}</div>
<div ng-message="maxlength">{{'error.field.default.maxlength' | translate}}</div>
<div ng-message="match">{{'error.field.default.match' | translate}}</div>
<div ng-message="number">{{'error.field.default.number' | translate}}</div>
<div ng-message="minimumVersion">{{'error.field.default.minimumVersion' | translate}}</div>